<dl>
  <dt>DKDFS Knapper</dt>
  <dd>
    <dkfds-button btnLabel="Primary Button" btnStyling="primary"></dkfds-button>
  </dd>
  <dd>
    <dkfds-button
      btnLabel="Secondary Button"
      btnStyling="secondary"
    ></dkfds-button>
  </dd>
  <dd>
    <dkfds-button
      btnLabel="Tertiary Button"
      btnStyling="tertiary"
    ></dkfds-button>
  </dd>
  <dd>
    <dkfds-button
      btnLabel="Quaternary Button ('back')"
      btnStyling="quaternary"
    ></dkfds-button>
  </dd>
  <dd>
    <dkfds-button
      btnLabel="Unstyled Button ('icon only')"
      btnStyling="unstyled"
    ></dkfds-button>
  </dd>
</dl>

<router-outlet></router-outlet>
