<dl>
  <dt>DKDFS Knapper</dt>
  <dd><dkfds-button btnLabel="Primary" btnStyling="primary"></dkfds-button></dd>
  <dd>
    <dkfds-button btnLabel="Secondary" btnStyling="secondary"></dkfds-button>
  </dd>
  <dd>
    <dkfds-button btnLabel="Tertiary" btnStyling="tertiary"></dkfds-button>
  </dd>
  <dd>
    <dkfds-button btnLabel="Quaternary" btnStyling="quaternary"></dkfds-button>
  </dd>
  <dd>
    <dkfds-button btnLabel="Unstyled" btnStyling="unstyled"></dkfds-button>
  </dd>
</dl>

<router-outlet></router-outlet>
